# terraform temps
terraform/.tmp/**
terraform/.terraform/*
terraform/.terraform.lock.hcl

# terraform bin
terraform/terraform
terraform/terraform.exe

#JSON cloud configuration file
MicroPython/src/aws_config.json
MicroPython/src/kaa_config.json
MicroPython/src/config.json
MicroPython/src/thingsboard_config.json

# Python cache files
*.pyc
venv/
.idea/
*.vscode/
.env

# Certs
ca.pem
MicroPython/certs/*

# Misc files
*.info

#Flash setup
sdkconfig


# Hash of last commit
commit_hash.txt


#*moc*
*.backup*
*LOCAL*
!locals.tf
