# terraform temps
terraform/.tmp/**
terraform/.terraform/*

# terraform bin
terraform/terraform
terraform/terraform.exe

#JSON aws configuration file
MicroPython/src/aws_config.json

# Python cache files
*.pyc
venv/
.idea/
*.vscode/
.env

# Test
kaa_test.py

Misc files
*.info

#Flash setup
sdkconfig


# Hash of last commit
commit_hash.txt


#*moc*
*.backup*
*LOCAL*
!locals.tf
