pynamodb==5.4.0
flask==2.2.3
flask-restx==1.0.6
flask-accepts==0.18.4
marshmallow-pynamo-db==1.1.0
awscli==1.27.72
pytest==7.2.1
requests==2.28.2
flask-lambda-support==0.1.5
flask-jwt-extended==4.4.4
sentry_sdk==1.15.0
werkzeug==2.2.3

